---
layout: layouts/base.njk
title: A11y Annotatiions for interactive experience
metaDescription: Going beyond 508 compliance to provide a truly usable inclusive interactive experience. - Dan Bivins
date: 2024-01-01T00:00:00.000Z
permalink: /projects/a11yannotationscalc.html
# eleventyNavigation:
#   key: Design System
#   order: 5
---

<div class="case-study-content">
    <div class="case-study-content-inner">
        <div id="overview" class="case-study-body">
            <div class="case-info">
                <div class="case-study-info left-info">
                    <div class="section-header-container about">
                        <div class="section-header">
                            <p>Project</p>
                            <p>005</p>
                        </div>
                    </div>
                    <h2 class="proj-name">Making Real-Time Data Accessible</h2>
                    <h2 class="proj-desc">Collaborating with UX teams to move beyond compliance toward a high-utility inclusive experience.</h2>
                    <div class="">
                        <p>While working on the <a href="a11y-process.html">A11y Process</a> I identified a critical gap in our delivery lifecycle: the absence of accessibility design annotations. When accessibility requirements aren't defined during the design phase, it creates three primary business risks</p>
                        <ul role="list">
                            <li role="listitem"><b>Design Ambiguity:</b> Without explicit intent, screen reader UX is left to engineering interpretation, leading to inconsistent user experiences.</li>
                            <li role="listitem"><b>Engineering Friction:</b> Developers are forced to spend cycles deciphering accessibility logic rather than focusing on feature implementation.</li>
                            <li role="listitem"><b>QA Bottlenecks:</b> The lack of documented accessibility acceptance criteria makes it impossible to perform objective, systematic quality audits.</li>
                        </ul>
                        <p>To solve this, I partnered with the UX team to implement a standardized annotation system, starting with one of our most complex patterns: <b>The Live-Calculation Interaction</b>.</p>
                    </div>                    
                </div>

                <div class="case-study-info right-info">
                    <div class="section-header-container about">
                        <div class="section-header">
                            <p>Info</p>
                        </div>
                    </div>
                    <div class="case-study-info-right-group">
                        <div>
                            <h3>Role</h3>
                            <p class="case-info-right-text">Accessibility Specialist, UX Designer</p>
                        </div>
                    </div>
                    <div>
                        <h3>Tools</h3>
                        <p class="case-info-right-text">Figma</p>
                    </div>
                </div>        
            </div>
            <div class="section-header-container about">
                <div class="section-header">
                    <p>Overview</p>
                </div>
            </div>
            <div class="flex">
                <div class="col-half">
                    <h3>Problem</h3>
                    <p class="process-main-text">How can we <span class="bold">ensure the same experience for screen reader users</span> in this calculation pattern?</p>
                </div>
            <div class="col-half">
                <h3>Outcome</h3>
                <p class="process-main-text">Reduction in Engineering guesswork, a defined acceptance criteria, and improved consistency and efficiency across teams.</p>
            </div>
                                
    </div>
</div>  

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>The work</h3> 
        </div>
    </div>
    <p>The purpose of this interaction pattern is for <span class="bold">the user to enter income and expenses so that they can be notified if they may be eligible for financial assistance</span>. </p>
    <p>This component calculates a user’s income against their expenses in real-time. While visually intuitive, our testing revealed a critical accessibility barrier: the dynamic updates were not being announced to screen readers, leaving non-sighted users unaware of the calculation results unless they manually navigated the entire page.</p>
    <p>This interaction was generally fine sighted users but screen reader users were not having the same experience &mdash; <b>we knew they were not getting that calculated number announced to them</b> unless they read the page line by line each time. </p>
    <div class="full-width light">
        <img src="/static/img/timecard1a.png" alt="Visible focus is on the remove button." class="img-center flex">
    </div> 
</div>
<div class="full-width ">
    <div class="case-study-body">
        <div class="section-header-container about">
            <div class="section-header">
                <h3>Solving ambiguity through documentation</h3> 
            </div>
        </div>
        <p><span class="bold">Proactive Inclusion vs. Reactive Remediation Designing for accessibility is a strategic choice. By providing design annotations, we "shift accessibility left," eliminating engineering guesswork and ensuring that the inclusive experience is defined by the designer, not the developer.</p>
        <p>This documentation provides three critical advantages:</p>
        <ul role="list">
            <li role="listitem"><b>Clarity:</b> Designers gain a deeper understanding of assistive technology flows.</li>
            <li role="listitem"><b>Efficiency:</b> Engineers receive clear, actionable implementation requirements.</li>
            <li role="listitem"><b>Reliability:</b> QA teams gain a source of truth for accessibility acceptance criteria.</li>
        </ul>
        <p>Below are examples of typical annotations I require of designers.</p>
    </div>
</div>
<div class="full-width light">
<div class="case-study-body">
    <p><span class="section-callout">General focus order</span></p>
    <p>The focus order of tab stops follows an expected flow in this pattern. This is useful to document for Engineers so we have acceptance criteria to test against and, again, it's helpful as an exercise of awareness for Designers.</p>

    <img src="/static/img/timecard3.png" alt="focus order is depicted with blue square shapes that contain focus order number inside. These shapes are on each tab stop." class="img-center flex">
</div>
</div>
<div class="full-width ">
<div class="case-study-body">
    <p><span class="section-callout">Focus handling based on action</span></p>
    <p><span class="bold">Managing State and Focus Logic Accessibility is about more than just reading text; it’s about managing the user's "place" in the experience. I collaborated with the UX team to define focus-management rules for dynamic state changes:</p>
    <ul role="list">
        <li role="listitem">Destructive Actions: When an item is removed, focus is programmatically shifted to the "Add more income" button to prevent "focus loss" (where the cursor resets to the top of the page).</li>
        <li role="listitem">Logical Continuity: This ensures the user maintains their context and can continue the task without disorientation.</li>
    </ul>    
    <div class="full-width light">
        <img src="/static/img/timecard2a.png" alt="Visible focus is on the remove button." class="img-center flex">
    </div> 
    <div class="full-width light">
        <img src="/static/img/timecard2b.png" alt="Visible focus has been shifted to the 'Add more income button.'" class="img-center flex">
    </div> 
</div>
</div>

<div class="full-width light">
<div class="case-study-body">
    <div class="">
        <p><span class="section-callout">Screen reader annotations</span></p>
        <p><b>Engineering for Real-Time Feedback</b> In a live calculation, the core value is the immediate result. To ensure parity for non-sighted users, I developed and tested a coded prototype to determine the most effective communication pattern.</p>
        <p><b>The Solution:</b> I implemented an ARIA-live region on the component container. This ensures that as the total updates, the screen reader automatically announces: “{userName}'s total for {month} is {amount} dollars."</span></p>
        <p><b>Refining Context with ARIA-Labelledby:</b> To prevent ambiguity for "Edit" and "Remove" buttons, I provided guidance for utilizing aria-labelledby. By concatenating unique IDs from the income source and the action button, the screen reader provides full context: “Edit [Amount] [Category]” rather than a generic "Edit button."</p>
    </div>
    <div class="full-width light">
        <img src="/static/img/timecard1b.png" alt="Visible focus has been shifted to the 'Add more income button.'" class="img-center flex">
    </div> 
    
    <p>Next, we need to <span class="bold">provide context for the "Edit" and "Remove" buttons.</span> Otherwise a screen reader user may think "Edit what?" or "Remove what?"</p>
    <p>We can do this easily by utilizing the aria-labelledby attribute. My guidance to the Engineer was:</p>
    <ol>
        <li>Add a unique id to the container of the income amount and source.</li>
        <li>Add a unique id to the “Edit” and “Remove” buttons.</li>
        <li>Use the unique ids from the amount/source container and the edit/remove button's unique id to concatenate screen reader text.</li>
    </ol>
    <p>Text should read out like this for the edit button <span class="bold"> "Edit {amount} {category}"</span></p>
    <div class="full-width light">
        <img src="/static/img/timecard1c.png" alt="Visible focus has been shifted to the 'Add more income button.'" class="img-center flex">
    </div> 
    
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Outcome and impact</h3> 
        </div>
        <p>The implementation of this annotation system and interaction logic transformed our delivery process from a "wait and see" audit model to a proactive, inclusive design culture.</p>
        <ul role="list">
            <li role="listitem">Zero Critical Defects: The calculation component passed formal 508 testing with zero accessibility defects upon first release.</li>

            <li role="listitem">Reduced Rework: By defining ARIA logic and focus management in Figma, we eliminated the 2–3 day feedback loop typically required for post-development remediation.</li>

            <li role="listitem">Scalable Standards: The "Contextual Button" (aria-labelledby) and "Live Feedback" (aria-live) patterns were adopted into the broader Design System as the standard for all future interactive calculators.</li>
        </ul>
        <p class="section-callout">In our research we most commonly heard:</p>
            <blockquote class="light">""By documenting the 'unseen' experience, we ensured that the most critical part of the user journey—understanding financial eligibility—was truly available to everyone.""</blockquote>
    </div>
    
    {# TODO- Visualizing the Impact
    To make this hit home, you could include a simple diagram showing the "Documentation Loop" you created. #}

</div>
 
