---
layout: layouts/base.njk
title: Creating a Design System
metaDescription: Creating a Design System - Dan Bivins
date: 2024-01-01T00:00:00.000Z
permalink: /projects/designsystem.html
# eleventyNavigation:
#   key: Design System
#   order: 4
---

<div class="case-study-content">
    <div class="case-study-content-inner">
        <div id="overview" class="case-study-body">
            <div class="case-info">
                <div class="case-study-info left-info">
                    <div class="section-header-container about">
                        <div class="section-header">
                            <p>Project</p>
                            <p>004</p>
                        </div>
                    </div>
                    <h2 class="proj-name">Creating a Design System</h2>
                    <h2 class="proj-desc">Providing modular, accessible, and usable components for education technology software.</h2>
                    <p>The company name and many details have been redacted for NDA. Included below are mockups with identifiers removed. Feel free to ask me about details of this work.</p>
                <div class="section-header-container about">
                    <div class="section-header">
                        <p>Overview</p>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <h3>Problem</h3>
                        <p class="process-main-text">How can we reduce effort and time of designers and engineers to deliver?</p>
                        <p class="process-main-text">How can we provide a more consistent and improved experience for our users?</p>
                    </div>
                <div>
                    <h3>Outcome</h3>
                    <p class="process-main-text">Created a modular, accessible, and usable component library which <strong>reduced "time to delivery" by more than 25%</strong>.</p>
                </div>
            </div>
        </div>
            <div class="case-study-info right-info">
                <div class="section-header-container about">
                    <div class="section-header">
                        <p>Info</p>
                    </div>
                </div>
                <div class="case-study-info-right-group">
                    <div>
                        <h3>Role</h3>
                        <p class="case-info-right-text">UX Designer and UI Developer on a small design system team</p>
                    </div>
                    <div>
                        <h3>Timeline</h3>
                        <p class="case-info-right-text">6 months</p>
                    </div>
                </div>
                <div>
                    <h3>Tools</h3>
                    <p class="case-info-right-text">Sketch</p>
                    <p class="case-info-right-text">HTML/CSS/Handlebars.js</p>
                </div>
            </div>
        </div>
    </div>
</div>  

<div id="overview" class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>The work</h3> 
        </div>
    </div>
    <div class="">
        <p>When I joined the team the components that were needed for an MVP had already been identified. The role of myself and one other UX Designer/UI Developer was to:</p>
        <ol>
            <li>Take existing legacy components and <span class="bold">update visual styles and add responsive capabilities</span>, creating mockups in Sketch.</li>
            <li><span class="bold">Review the updated components and patterns</span> with the larger UX team (and iterate as needed).</li>
            <li><span class="bold">Build components</span> using HTML, CSS, and Handlebars.js</li>
            <li><span class="bold">Test for accessibility and 508 compliance</span> using screen readers, Axe, and keyboard-only navigation
            <li><span class="bold">Handoff component code and specs</span> to software engineers for implementation into software system</li>
            <li><span class="bold">Collaborate with Product</span> for rollout of components to teams</li>
        </ol>
        </p>
    </div>
</div>

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>The Outcome</h3> 
        </div>
    </div>
    <div class="">
        <p><span class="section-callout">Components and patterns</span></p>
        <p>Below are examples showing the component and pattern being used in various configurations.</p>
        <p>As mentioned above, it is estimated that creating this modular and accessible component library <strong>reduced the time it took to ship code more than 25%</strong>. Of course, there is also the benefit to the end user of a more consistent user experience as all teams are pulling from the same pool of flexible components and patterns.</p>
    </div>

</div>
<div class="full-width light">
    <img src="/static/img/jz-meeting.png" alt="a simple form design for someone to set up a meeting with location, date, and time" class="img-center flex">
</div> 

<div class="full-width light">
    <img src="/static/img/jz-facilities.png" alt="a facilities hub overview card showing a basic graph of places and their status of active, temporarily inactive, in construction, etc." class="img-center flex">
</div> 

<div class="full-width light">
    <img src="/static/img/jz-sa.png" alt="a simple card design student assistants. Included are a profile photo, and info like credit hours, year, advisor name, etc." class="img-center flex">
</div> 

<div class="full-width light">
    <img src="/static/img/jz-timecard.png" alt="a simple timecard form design with empty and error states" class="img-center flex">
</div> 
 
