---
layout: layouts/base.njk
title: Reviving the Medicare Plan Search and Enroll Experience
metaDescription: Projects of Dan Bivins - Dan Bivins
date: 2023-01-01T00:00:00.000Z
permalink: /projects/mgov.html
# eleventyNavigation:
#   key: Medicare redesign
#   order: 2
---

<div class="case-study-content">
    <div class="case-study-content-inner">
        <div id="overview" class="case-study-body">
            <div class="case-info">
                <div class="case-study-info left-info">
                    <div class="section-header-container about">
                        <div class="section-header">
                            <p>Project</p>
                            <p>002</p>
                        </div>
                    </div>
                    <h2 class="proj-name">Medicare.gov</h2>
                    <h2 class="proj-desc">Redesigning the legacy Medicare app's plan search and enrollment experience.</h2>
                    <p>The process of shopping for, and enrolling in, a Medicare plan is an intimidating journey due to the weight of the beneficiary's decision which affects their health and drug coverage — but also due to the incredible amount of info about options and services that flood Medicare beneficiaries every year.
                    </p>
                <div class="section-header-container about">
                    <div class="section-header">
                        <p>Overview</p>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <h3>Problem</h3>
                        <p class="process-main-text">How can we make it easier for Medicare recipients to shop for, and sign up for, a health plan?</p>
                    </div>
                <div>
                    <h3>Outcome</h3>
                    <p class="process-main-text">We redesigned and rebuilt the Medicare legacy app and <strong>increased enrollment by 40%</strong>.</p>
                </div>
            </div>
        </div>
            <div class="case-study-info right-info">
                <div class="section-header-container about">
                    <div class="section-header">
                        <p>Info</p>
                    </div>
                </div>
                <div class="case-study-info-right-group">
                    <div>
                        <h3>Role</h3>
                        <p class="case-info-right-text">UX Designer as part of a small delivery team</p>
                    </div>
                    <div>
                        <h3>Timeline</h3>
                        <p class="case-info-right-text">1 week</p>
                    </div>
                </div>
                <div>
                    <h3>Tools</h3>
                    <p class="case-info-right-text">Sketch</p>
                    <p class="case-info-right-text">Invision</p>
                    <p class="case-info-right-text">Mural</p>
                </div>
                <!-- <div>
                    <a href="https://mischeduler.netlify.app/" class="button">View Site</a>   
                </div>              -->
            </div>
        </div>
    </div>
</div>  

<div class="full-width">
    <div class="flex-thirds flex">
        <div class="col">
            <img src="/static/img/mgov_old_plans.png" alt="A screenshot of the legacy tool's Plan Results page">
        </div>
        <div class="col">
            <h3>The starting point</h3>
            <p>The legacy app used to sign up for a Medicare plan was cognitively overwhelming, not intuitive, and not mobile-friendly. </p>
        </div>
    </div>
</div>

<div id="overview" class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Research and Findings</h3> 
        </div>
    </div>
    <div class="bsc-2-grid">
        <p>From user surveys, usability testing, customer service representatives, and state-sponsored support agencies we were awash with data into <em>how people used, signed up for, and accessed their Medicare services</em>. Through these usability sessions we identified key pain points that would provide the highest impact to users.</p>
        <p>Most commonly we heard:
            <span class="strong">"There's too much info being thrown at me at once ..."</span>
            <span class="strong">"It's too complicated. I don't even try and do it. I just call them."</span>
        </p>
    </div>
    <img src="/static/img/mgov_collab.png" alt="A screenshot from a Mural board at a collaborative workshop session with stakeholders. High fidelity mockups and sticky notes are prevalent.">
</div>

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>The Work</h3> 
        </div>
    </div>
    <p>How can we deliver the most impact to users in the shortest amount of time as an MVP? Then we would continue to resurface the user pain points and business objectives to ensure we were staying aligned.</p>

    <h4>Our Priorities</h4>
    <ul>
        <li>Build the application to be responsive with all sizes of devices and types of users in mind</li>
        <li>Reduce cognitive load and present information to the user only as they need it</li>
        <li>Prioritize site accessibility, performance, and security. (Three things designers tend to forget about but improve UX dramatically.)</li>
        <li>Reduce call volume for the call center.</li>
    </ul>
</div>

<div class="full-width ">
    <div class="flex-thirds flex">
        <div class="col">
            <img src="/static/img/service-map.png" alt="A service map I created to better understand and share the touchpoints with our user base.">
        </div>
        <div class="col">
            <h3>The full picture</h3>
            <p>This is a small piece of a service design map I created to help our team and stakeholders have a full picture of the user's experience on, and off, the site.</p>
        </div>
    </div>
</div>

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Priority One</h3> 
        </div>
    </div>
    <div class="bsc-2-grid">
        <p><span class="section-callout">Simplify and reduce cognitive load</span></p>
        <p>A key pain point from users was the drug and pharmacy experience within the app so one of the first priorities was <strong>reduce cognitive load and present information to the user only when they need it</strong>. </p>
    </div>
        <p>After several mockup and coded prototype iterations we completed further user testing which resulted in the feature points below.</p>
</div>

<div class="case-study-body">
    <div class="">
        <p class="section-callout">A simple stepped process to add medications</p>
            <p class="project-paragraph">This was a new feature that we added. Keeping this process as easy as possible was paramount.</p>
    </div>
        <img class="img-center flex" src="/static/img/drug-wireframe.png" alt="early wireframe mockups for drug adding pattern">
    <div class="proj-img-callout">
        <img class="img-center flex" src="/static/img/drug1.png" alt="Creating a simple step process to add medications.">
    </div> 

    </div>
</div>

<div class="full-width light">
    <div class="flex-thirds flex">
        <div class="col">
            <img class="img-center flex" src="/static/img/pharm.png" alt="" >
        </div>
        <div class="col">
            <p class="project-heading">A pharmacy search </p>
            <p class="project-paragraph">This was also a new feature and tying this data to plan searches  improved health plan cost accuracy for users by providing real-time costs.</p>
        </div>
    </div>
</div>

<div class="full-width ">
    <div class="flex-thirds flex">
        <div class="col">
            <img src="/static/img/det.png" alt="A plan details page with a breakdown of costs per drug, per pharmacy" class="img-center flex">
        </div>
        <div class="col">
             <p class="project-heading">Present product details simply</p>
             <p class="project-paragraph">From research, it was clear that drug costs are one of the most stressful and most important decision points for a beneficiary. There is an enormous amount of data presented to the user on the product (plan) details screen. We provided simple tables with clear explanations and callouts.</p>
    </div>
    </div>
</div> 

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Priority Two</h3> 
        </div>
    </div>
    <div class="bsc-2-grid">
        <p><span class="section-callout">Filtering pattern</span></p>
        <p>In user research we found that users were overwhelmed with the number of results and wanted a way to pare down to a more personalized result list.</p>
    </div>

</div>
<div class="full-width light">
    <img src="/static/img/filter.png" alt="a filtering pattern where a user can reduce the number of plan results they receive. Here vision, dental, and hearing filters have been selected" class="img-center flex">
</div> 

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Priority Three</h3> 
        </div>
    </div>
    <div class="bsc-2-grid">
        <p><span class="section-callout">Build the application to be responsive and mobile-first</span></p>
        <p>User research told us that, even though this is an older demographic, a significant percentage of users relied phone and tablet devices.</p>
    </div>
</div>

<div class="full-width light">
    <img src="/static/img/resp.png" alt="mobile versions of various pages are shown with the components adjusting to screen size" class="img-center flex">
</div> 

<div class="case-study-body">
    <div class="section-header-container about">
        <div class="section-header">
            <h3>Priority Four</h3> 
        </div>
    </div>
    <div class="bsc-2-grid">
        <p><span class="section-callout">Prioritize site accessibility and usability</span></p>
        <p>I don't have visuals to show for this but we strived to design and build the experience to be inclusively designed for all types of users. We payed attention especially to users with no vision, low vision, cognitive issues, and reduced mobility of their hands. In the end this gave us a <strong>100% score on our accessibility testing</strong> by the Section 508 Office at the Center for Medicare Services.</p>
    </div>
</div>

<div class="full-width">
<div class="case-study-body">
    <h2>The Outcome</h2>
    <p>Shown below is the MVP version we delivered in time for Open Enrollment. Further iterations based on usability testing and collaborations with client stakeholders allowed the work to evolve, as it should, but this work allowed for a solid foundation to serve to the American people. </p
    <p>Since CMS launched the redesigned <a href="https://www.medicare.gov/plan-compare/#/?year=2022&lang=en" target="_blank">Medicare Plan Finder</a>, the app:<p>
    <ul>
        <li>Has helped <strong>more than 2.6 million Medicare beneficiaries</strong> enroll in a Medicare plan, about 40% more enrollments than the legacy tool the previous year</li>
        <li>Saw an average of <strong>373,000 visitors a day</strong> during the next Medicare Open Enrollment.</li>
    </ul>
 
    <p>Most importantly, we were getting positive feedback from our users:</p>
    <blockquote class="light">“Even I &mdash; a 73-year-old guy who’s not very computer savvy &mdash; can figure it out.”</blockquote>

    <blockquote class="light">“I really like it because it’s self-explanatory and gives things in detail. You know up front what each plan costs a month, what your deductibles are, and what drugs are covered and what drugs aren’t. That’s really important."</blockquote>
</div>   
</div>    
