:root {
	--primary: blue;
	--secondary: #ffffff;
	--white: #ffffff;
	--dark: #212325;
	--light: #faf6f3;
	font-size: 1.2rem;
	--maxwidth: 1240px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
  	font-family: Manrope,-apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: var(--white);
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

main {
	width: 100%;
	margin-bottom: 4rem;
}

/* footer */
.footer {
	background-color: var(--dark);
	color: #eeeeee;	
  	border-top: 1px solid hsla(0,0%,100%,.12);
}

.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--maxwidth);
	margin: 0 auto;
	padding: 64px 20px 0;
}

h2 {
	/* font-size: 1.2rem; */
	margin: 3rem 0 1rem 0;
}

h2 + p {
	margin-top: 0.375rem;
}

h3 {
	margin: 2rem 0 0;;
}

h4 {
	margin: 2rem 0 0 0;
}

li {
	margin-bottom: 0.35rem;
}

p,
pre,
code,
li {
	line-height: 1.6;
}

p {
	font-weight: 300;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:hover {
	text-decoration: none;
}

img {
	border-radius: 16px;
  	/* border: 1px solid lightgray; */
	height: auto;
	max-width: 100%;
	/* margin: 2rem 0 1rem 0; */
}

header,
footer {
	padding: 1em;
}

header {
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}

main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

blockquote {
	/* background-image: url('/static/img/chat.png');
	background-repeat: no-repeat;
	background-position: 50% ; */
	border-radius: 16px;
	font-size: 1.25rem;
	margin: 2rem 0;
	padding: 2rem 3.5rem;
	text-align: center;
	font-style: italic;
	border: 1px solid #eee;
}

blockquote:before {
	content: url('/static/img/chat.png');
	display: block;
	width: 50%;
	height: 50%;
	margin: 0 auto 1rem auto;
}

/* Header Nav */
.header-container {
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: space-between;
}

header nav ul :first-child {
	margin-left: 0;
}

.header-container .nav-container {
	display: flex;
	flex-grow: 1;
}

.header-container li {
	margin: 0 .25em;
	margin-left: 0.25em;
	font-size: 0.8rem;
	font-weight: bold;
	list-style-type: none;
}

.header-container li a {
	padding: .25em .5em;
	text-decoration: none;
	color: black !important;
}

header nav li a:hover {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: #eee;
	border-radius: 20px;
	padding: 10px 20px;
}

.logo {
	text-decoration: none;
	width: 3rem;
 	height: 3rem;
}

.logo img {
	border: none;
	border-radius: 0;
	margin: 0;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

strong {
	background: #ffff89a8;;
  }

.bold {
	font-weight: bold;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}


input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

/* text descriptions */ 
em {
	font-style: italic;
	font-weight: 500;
}

/* generic container */
.container {
	max-width: var(--maxwidth);
	margin: 0 auto;
	padding: 64px 20px 0;
}

.container-half {
	padding: 64px 20px 20px;
	margin: auto auto -64px;
	display: flex;
}

.half-span {
	flex: 1 1;
	padding: 48px 48px 48px 0;
}

.img-mobile {
	display: block;
	margin: 2rem auto;
}

.flex {
	display: flex;
}

.site-name {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.section-accent {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	text-align: left;
}

.home-title {
	font-family: p22-mackinac-pro,serif;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 130%;
	margin: 0;
}

.home-title-callout {
	display: block;
}

.project-sections {
	background-color: var(--dark);
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	margin: 3rem 0 0 0;
	padding-top: 1rem;
	padding-bottom: 60px;
  }

.centered-title h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.25rem;
	color: #fff;
	margin: 0 0 3rem 0;
}

.project-container {
	border-radius: 50px;
	height: 550px;
	justify-content: flex-end;
	margin: 0 auto 20px auto;
	max-width: 940px;
}

.proj-a11y{
	background-color: #E1F5FE;
}

.proj-mgov{
	background-color: #C8E6C9;
}

.proj-cc{
	background-color: #EFEBE9;
}

.proj-jz {
	background-color: #E0F7FA;
}

.proj-ann {
	background-color: #FFF3E0;
}

.study-info {
	width: 50%;
	border-radius: 15px;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 40px;
	padding-left: 40px;
	display: flex;
  }

.tag-text {
	font-size: .875rem;
	font-weight: 700;
}

.project-heading {
	/* color: #212325; */
	font-size: 1.75rem;
	font-family: p22-mackinac-pro,serif;
	font-weight: 600;
	margin-top: 34px;
	margin-bottom: 8px;
	line-height: 38px;
}

.project-link {
	color: var(--dark) !important;
	display: flex;
	font-weight: 700;
	margin: 24px 0 60px;
	padding: 8px 16px;
	align-items: center;
}

.project-paragraph {
	color: #212325;
	margin-bottom: 24px;
}

.study-image {
	display: flex;
	flex-direction: row;
	flex: none;
	justify-content: center;
	align-self: auto;
	align-items: center;
	margin-left: 7px;
	padding-left: 0;
	padding-right: 0;
}

.study-image img {
	border: none;
	max-width: 640px;
}

.case-study-content-inner {
	margin: 2rem auto;
}

.case-study-body {
	max-width: 860px;
	margin: auto;
	padding: 0 20px;
}

.about.section-header-container .section-header {
	margin-top: 0;
	margin-bottom: 1rem;
	padding-top: 48px;
}

.section-header {
	padding: 16px 0;
	padding-top: 16px;
	border-bottom: 1px solid #000;
	margin: 64px auto auto;
	margin-top: 64px;
	display: flex;
	max-width: 1200px;
	justify-content: space-between;
}

.case-info {
	display: grid;
	margin: auto;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 30px;
}

.left-info {
	grid-column: auto/span 3;
	margin-right: 3rem;
}

.case-info-right-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
	text-align: left;
	color: var(--textColor);
	margin-bottom: 6px;
	margin-top: 8px;
}

.case-study-content h4 {
	margin: 16px 0 0 !important;
	color: #000;
	font-weight: 700;
	font-size: 17px;
}

.case-study-problem {
	display: flex;
}

.case-study-problem p {
	margin: 0;
}

.case-info .proj-name {
	font-family: Manrope,serif;
	font-size: 40px;
	font-style: 600;
	letter-spacing: 0;
	text-align: left;
	margin-top: 32px;
}

.case-info .proj-desc {
	font-size: 40px;
	font-weight: 300;
	margin: 0 0 1rem 0;
	line-height: 1.25;}

.section-header p {
	margin: 0;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	text-align: left;
	color: #000;
}

.case-study-problem > div {
	margin-right: 1rem;
}

.full-width {
	background-color: var(--light);
	margin: 2rem 0;
	padding: 1rem 0;
}

.full-width .half-span {
	margin: 0;
}

.full-width .container-half {
	margin: 0 auto;
	padding: 3rem;
	width: 85%;
}

.bsc-2-grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 32px;
	gap: 32px;
	margin-top: 32px;
}

.flex-thirds {
	max-width: 85%;
	margin: 3rem auto;
}

.col {
	margin: 1rem;
}

.col-half {
	margin: 1rem 1rem 1rem 0;
	width: 50%;
}

.col-half:last-of-type {
	margin-right: 0;
  }

.flex-thirds .col:first-of-type {
	width: 60%;
}

.flex-thirds .col:last-of-type {
	margin-right: 2rem;
	width: 40%;
}

.grid_item:first-child {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.strong {
	font-weight: 500;
	display: block;
	margin: 0.5rem 0 1rem 0;
	font-size: 1.25rem;
}

.section-callout {
	font-size: 1.875rem;	
	font-weight: 300;
	margin: 0.5rem 0 1rem 0;
	line-height: 1.125;
}

.process-main-text {
	margin-top: 0.125rem;
  }

.proj-img-callout {
	margin: 3rem 0; 
}

.proj-heading {
	font-weight: 500;
	display: block;
	padding: 3rem 0 0 0;
	font-size: 1.5rem;
	text-align: center;
}

.img-center {
	width: 100%;
	margin: 1rem auto;
	max-width: 900px;
}

.light {
	background-color: var(--white);
}

.full-width.dark {
	background-color: var(--dark);
	color: white;
	padding: 4rem 0;
}

.full-width.dark blockquote {
	color: #212529;
}

.full-width.dark .section-header {
	border-bottom: 1px solid white;
}

.full-width.dark p,
.dark a {
	color: white;
}

.mock-vid {
	border-radius: 16px;
	margin: 1rem auto;
	width: 100%;
}


@media screen and (max-width: 991px) {

h3 {
	margin: 1rem 0 0 0;
}
.project-heading {
	font-size: 1.5rem;
	margin-top: 0;
}

.header-container {
	flex-direction: column;
	padding: 1rem;
	flex: 0 auto;
}

.footer-container, 
.container-half {
	flex-direction: column;
}

.col-half {
	margin: 1rem 1rem 1rem 0;
	width: 100%;
}

.left-info {
	margin-right: 0;
}

.half-span {
	padding: 0 6px 48px 6px;
	text-align: center;
}

.home-title {
	font-size: 28px;
}

.home-title-callout {
	display: inline-block;
}

.full-width {
	margin: 0;
  	padding: 0.75rem 0;
}

.bsc-2-grid {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 32px;
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.flex {
	flex-direction: column;
}

.flex-thirds .col:last-of-type,
.flex-thirds .col:first-of-type,
.study-info {
	width: 100%;
}

.col {
	margin: 0;
}

.case-info {
	display: block;
}

.project-container {
	height: auto;
	width: auto;
	margin: 1rem;
}

.project-paragraph {
	margin: 0;
}

.project-link {
	margin: 8px 0 2rem 0;
	padding: 0;
}

.study-image img {
	width: 100%;
}

blockquote {
	padding: 2rem 1.5rem;
}

}