---
layout: layouts/home.njk
title: Home - Daniel Bivins Design
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

<div class="container container-half">

  <div class="half-span">
    <p class="home-title"><em>Hello!</em> I'm Dan, a UX Designer and Accessibility Specialist who is passionate about inclusive design and coffee!</p>
  </div>

  <div class="half-span home-intro">
    <p>​​I have 10 years of experience as a full-stack designer, creating accessible and user-centered experiences. My favorite type of work includes creating inclusive designs, contributing to well-built design systems, and building accessible cultures across product teams.</p>
  </div>

</div>

<section class="project-sections">
  <div class="container centered-title">
    <h2>Case Studies</h2>
  </div>

  <div class="project-container flex proj-a11y">
    <div class="study-info">
      <span class="tag-text">A11y</span>
      <h3 id="prj1" class="project-heading">Building an A11y practice</h3>
      <p class="project-paragraph">Creating a culture of A11y and reducing the time to fix bugs by more than 50%</p>
      <a href="/projects/a11y-process" id="vp1" class="project-link" aria-describedby="vp1 prj1">View this project</a>
    </div>
    <div class="study-image">
      <img src="/static/img/a11y-thumb.png" alt=""/>
    </div>
  </div>

  <div class="project-container flex proj-mgov">
    <div class="study-info">
      <span class="tag-text">UX/A11y</span>
      <h3 id="prj2" class="project-heading">Reviving Medicare enrollment</h3>
      <p class="project-paragraph">Redesigning the legacy Medicare app to increase enrollment by over 40%.</p>
      <a href="/projects/mgov" id="vp2" class="project-link" aria-describedby="vp2 prj2">View this project</a>
    </div>
    <div class="study-image">
      <img src="/static/img/mgov-thumb.png" alt="">
    </div>
  </div>

  <div class="project-container flex proj-ann">
    <div class="study-info">
      <span class="tag-text">A11y</span>
      <h3 id="prj5" class="project-heading">A11y design annotations</h3>
      <p class="project-paragraph">Going beyond 508 compliance to provide a truly usable inclusive interactive experience.</p>
      <a href="/projects/a11yannotationscalc" id="vp5" class="project-link" aria-describedby="vp5 prj5">View this project</a>
    </div>
    <div class="study-image">
      <img src="/static/img/a11yanncalc-thumb.png" alt=""/>
    </div>
   </div>

  <div class="project-container flex proj-cc">
    <div class="study-info">
      <span class="tag-text">UX</span>
      <h3 id="prj3" class="project-heading">Providing a path forward</h3>
      <p class="project-paragraph">Designing an app providing community resources for the incarcerated.</p>
      <a href="/projects/partner" id="vp3" class="project-link" aria-describedby="vp3 prj3">View this project</a>
    </div>
    <div class="study-image">
      <img src="/static/img/cc-thumb.png" alt=""/>
    </div>
   </div>

    <div class="project-container flex proj-jz">
    <div class="study-info">
      <span class="tag-text">DS</span>
      <h3 id="prj4" class="project-heading">Creating a Design System</h3>
      <p class="project-paragraph">Providing modular and accessible components for EdTech software, reducing the time to ship code by more than 30%</p>
      <a href="/projects/designsystem" id="vp4" class="project-link" aria-describedby="vp4 prj4">View this project</a>
    </div>
    <div class="study-image">
      <img src="/static/img/jz-thumb.png" alt=""/>
    </div>

   </div>


</section>
