<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="container header-container">
			<a class="logo" href="{{ '/' | url }}"><img class="logo" src="/static/img/logo.svg"></a>
			<h1 class="site-name">Daniel Bivins Design</h1>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
